@font-face {
  font-family: 'gandhi';
  src: url("../fonts/GandhiSans-Regular-webfontt.eot");
  src: url("../fonts/GandhiSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/GandhiSans-Regular-webfont.woff2") format('woff2'), url("../fonts/GandhiSans-Regular-webfont.woff") format('woff'), url("../fonts/GandhiSans-Regular-webfont.ttf") format('truetype'), url("../fonts/GandhiSans-Regular-webfont.svg#gandhi") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gandhi-bold';
  src: url("../fonts/GandhiSans-Bold-webfontt.eot");
  src: url("../fonts/GandhiSans-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/GandhiSans-Bold-webfont.woff2") format('woff2'), url("../fonts/GandhiSans-Bold-webfont.woff") format('woff'), url("../fonts/GandhiSans-Bold-webfont.ttf") format('truetype'), url("../fonts/GandhiSans-Bold-webfont.svg#gandhi") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gandhi-italic';
  src: url("../fonts/GandhiSans-Italic-webfontt.eot");
  src: url("../fonts/GandhiSans-Italic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/GandhiSans-Italic-webfont.woff2") format('woff2'), url("../fonts/GandhiSans-Italic-webfont.woff") format('woff'), url("../fonts/GandhiSans-Italic-webfont.ttf") format('truetype'), url("../fonts/GandhiSans-Italic-webfont.svg#gandhi") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gandhi-BoldItalic';
  src: url("../fonts/GandhiSans-BoldItalic-webfontt.eot");
  src: url("../fonts/GandhiSans-BoldItalic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/GandhiSans-BoldItalic-webfont.woff2") format('woff2'), url("../fonts/GandhiSans-BoldItalic-webfont.woff") format('woff'), url("../fonts/GandhiSans-BoldItalic-webfont.ttf") format('truetype'), url("../fonts/GandhiSans-BoldItalic-webfont.svg#gandhi") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'gandhi';
  background: #fafafa url("../images/bg.png") no-repeat;
  background-size: cover;
  font-size: $font-size;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: ;
  -webkit-box-sizing: ;
  -ms-box-sizing: ;
  box-sizing: ;
}
h2 {
  font-family: 'gandhi-italic';
  color: #7a5f2c;
  position: relative;
  top: 54rem;
}
@media screen and (min-width: 20em) {
  body {
/*background red*/
    background-size: 100% 849%;
  }
  .row {
    margin: 0;
  }
  .brand {
    height: 85%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -19px;
    bottom: 0;
    margin-top: 0;
    z-index: 2;
  }
  .brand a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .brand a img {
    max-width: 100%;
    width: 100%;
    height: 50%;
  }
  h2 {
    top: 35rem;
  }
  .about,
  .download {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    position: relative;
    top: 50rem;
  }
  .download {
    margin: 0 auto;
    text-align: right;
    bottom: 0;
    width: 100%;
  }
  .download .download-btn {
    background: url("../images/deg-download.png") no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    width: 110.5%;
    height: 41px;
    line-height: 23px;
    color: #9f9990;
    font-size: 1.4rem;
    color: #d0d0cf;
    padding: 1rem 7rem;
    font-family: 'gandhi-BoldItalic';
    position: absolute;
    top: 10rem;
    left: -2rem;
  }
  .download .download-icon {
    position: absolute;
    left: 21rem;
    top: 5rem;
  }
  .download .download-icon img {
    width: 60%;
    left: 7rem;
    position: relative;
  }
  .about {
    color: #202020;
    position: absolute;
    z-index: 3;
    width: 60%;
    left: 25%;
  }
  .about hr {
    display: none;
  }
  .about span,
  .about .phone {
    font-family: 'gandhi-bold';
    font-size: 1.5rem;
  }
  .about span {
    display: inline-block;
  }
  .about .phone {
    width: 70%;
  }
  .about a {
    font-family: 'gandhi-bold';
    color: #202020;
    font-size: 1.5rem;
  }
  .about address {
    width: 60%;
    font-size: 1.2rem;
    color: #202020;
  }
}
@media screen and (min-width: 30em) {
  body {
/*background green*/
    background-size: 100% 486%;
  }
  .brand {
    height: 85%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -19px;
    bottom: 0;
    margin-top: 0;
    z-index: 2;
  }
  .brand a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .brand a img {
    max-width: 100%;
    min-height: 70%;
    width: 100%;
    height: 60%;
  }
  h2 {
    top: 45rem;
  }
  .about {
    color: #202020;
    left: 1rem;
    position: absolute;
    z-index: 3;
  }
  .about hr {
    border-top: 2px solid #6c6c6c;
    width: 60%;
    margin: 0 0 1rem 0;
  }
  .about span,
  .about .phone {
    font-family: 'gandhi-bold';
    font-size: 1.5rem;
  }
  .about span {
    display: inline-block;
  }
  .about .phone {
    width: 70%;
  }
  .about a {
    font-family: 'gandhi-bold';
    color: #202020;
    font-size: 1.5rem;
  }
  .about address {
    width: 60%;
    font-size: 1.2rem;
    color: #202020;
  }
  .about,
  .download {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    position: relative;
    top: 60rem;
    left: 2rem;
  }
  .download {
    margin: 0 auto;
    text-align: right;
    top: 58rem;
    left: -6rem;
  }
  .download .download-btn {
    background: url("../images/btn-download.png") no-repeat;
    background-size: 100% 122%;
    background-position: 0 -6px;
    width: 100%;
    height: 41px;
    line-height: 56px;
    color: #9f9990;
    font-size: 1.2rem;
    color: #d0d0cf;
    padding: 2rem 1.6rem;
    font-family: 'gandhi-BoldItalic';
    position: relative;
    top: 5rem;
    left: 8rem;
  }
  .download .download-icon {
    position: absolute;
    left: 17rem;
    top: 0;
  }
  .download .download-icon img {
    width: 60%;
    left: 7rem;
    position: relative;
  }
}
@media screen and (min-width: 45em) {
  body {
/*background blue*/
    background-size: 100% 600%;
  }
  .brand {
    height: 85%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -19px;
    bottom: 0;
    margin-top: 0;
    z-index: 2;
  }
  .brand a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .brand a img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }
  h2 {
    top: 61rem;
  }
  .about {
    color: #202020;
    left: 1rem;
    position: absolute;
    z-index: 3;
  }
  .about hr {
    border-top: 2px solid #6c6c6c;
    width: 60%;
    margin: 0 0 1rem 0;
  }
  .about span,
  .about .phone {
    font-family: 'gandhi-bold';
    font-size: 1.5rem;
  }
  .about span {
    display: inline-block;
  }
  .about .phone {
    width: 70%;
  }
  .about a {
    font-family: 'gandhi-bold';
    color: #202020;
    font-size: 1.5rem;
  }
  .about address {
    width: 40%;
    font-size: 1.2rem;
    color: #202020;
  }
  .about,
  .download {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    position: relative;
    top: 69rem;
    left: 2rem;
  }
  .download {
    margin: 0 auto;
    text-align: right;
    top: 68rem;
    left: -6rem;
  }
  .download .download-btn {
    background: url("../images/btn-download.png") no-repeat;
    background-size: 100% 122%;
    background-position: 0 -6px;
    width: 100%;
    height: 41px;
    line-height: 56px;
    color: #9f9990;
    font-size: 1.4rem;
    color: #d0d0cf;
    padding: 2rem 3rem;
    font-family: 'gandhi-BoldItalic';
    position: relative;
    top: 5rem;
    left: 8rem;
  }
  .download .download-icon {
    position: absolute;
    left: 30rem;
  }
  .download .download-icon img {
    width: 60%;
    left: 7rem;
    position: relative;
  }
}
@media screen and (min-width: 80em) {
  body {
/*background cyan */
    background-size: 100% 600%;
  }
  .brand {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -19px;
    bottom: 0;
    margin-top: 0;
    z-index: 2;
  }
  .brand a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .brand a img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }
  h2 {
    top: 61rem;
  }
  .about {
    color: #202020;
    left: -2rem;
    position: absolute;
    z-index: 3;
  }
  .about hr {
    border-top: 2px solid #6c6c6c;
    width: 50%;
    margin: 0 0 1rem 0;
  }
  .about span,
  .about .phone {
    font-family: 'gandhi-bold';
    font-size: 1.5rem;
  }
  .about span {
    display: inline-block;
  }
  .about .phone {
    width: 70%;
  }
  .about a {
    font-family: 'gandhi-bold';
    color: #202020;
    font-size: 1.5rem;
  }
  .about address {
    width: 50%;
    font-size: 1.2rem;
    color: #202020;
  }
  .about,
  .download {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    position: relative;
    top: 69rem;
    left: -2rem;
  }
  .download {
    margin: 0 auto;
    text-align: right;
  }
  .download .download-btn {
    background: url("../images/btn-download.png") no-repeat;
    background-size: 100% 122%;
    background-position: 0 -6px;
    width: 100%;
    height: 41px;
    line-height: 56px;
    color: #9f9990;
    font-size: 1.4rem;
    color: #d0d0cf;
    padding: 2rem 3rem;
    font-family: 'gandhi-BoldItalic';
    position: relative;
    top: 5rem;
    left: 8rem;
  }
  .download .download-icon {
    position: absolute;
    left: 51rem;
  }
  .download .download-icon img {
    width: 60%;
    left: 7rem;
    position: relative;
  }
}
@media screen and (min-width: 90em) {
  .brand {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -19px;
    bottom: 0;
    margin-top: 0;
    z-index: 2;
  }
  .brand a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .brand a img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }
  h2 {
    top: 60rem;
  }
  .about {
    color: #202020;
    left: -2rem;
    position: absolute;
    z-index: 3;
  }
  .about hr {
    border-top: 2px solid #6c6c6c;
    width: 50%;
    margin: 0 0 1rem 0;
  }
  .about span,
  .about .phone {
    font-family: 'gandhi-bold';
    font-size: 1.5rem;
  }
  .about span {
    display: inline-block;
  }
  .about .phone {
    width: 70%;
  }
  .about a {
    font-family: 'gandhi-bold';
    color: #202020;
    font-size: 1.5rem;
  }
  .about address {
    width: 50%;
    font-size: 1.2rem;
    color: #202020;
  }
  .about,
  .download {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    position: relative;
    top: 69rem;
    left: -2rem;
  }
  .download {
    margin: 0 auto;
    text-align: right;
  }
  .download .download-btn {
    background: url("../images/btn-download.png") no-repeat;
    background-size: 100% 122%;
    background-position: 0 -6px;
    width: 100%;
    height: 41px;
    line-height: 56px;
    color: #9f9990;
    font-size: 1.4rem;
    color: #d0d0cf;
    padding: 2rem 3rem;
    font-family: 'gandhi-BoldItalic';
    position: relative;
    top: 5rem;
    left: 8rem;
  }
  .download .download-icon {
    position: absolute;
    left: 51rem;
  }
  .download .download-icon img {
    width: 60%;
    left: 7rem;
    position: relative;
  }
}
@media screen and (min-width: 100em) {
  .brand {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -19px;
    bottom: 0;
    margin-top: 0;
    z-index: 2;
  }
  .brand a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .brand a img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }
  h2 {
    top: 60rem;
  }
  .about {
    color: #202020;
    left: -2rem;
    position: absolute;
    z-index: 3;
  }
  .about hr {
    border-top: 2px solid #6c6c6c;
    width: 50%;
    margin: 0 0 1rem 0;
  }
  .about span,
  .about .phone {
    font-family: 'gandhi-bold';
    font-size: 1.5rem;
  }
  .about span {
    display: inline-block;
  }
  .about .phone {
    width: 70%;
  }
  .about a {
    font-family: 'gandhi-bold';
    color: #202020;
    font-size: 1.5rem;
  }
  .about address {
    width: 50%;
    font-size: 1.2rem;
    color: #202020;
  }
  .about,
  .download {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    position: relative;
    top: 69rem;
    left: -2rem;
  }
  .download {
    margin: 0 auto;
    text-align: right;
  }
  .download .download-btn {
    background: url("../images/btn-download.png") no-repeat;
    background-size: 100% 122%;
    background-position: 0 -6px;
    width: 100%;
    height: 41px;
    line-height: 56px;
    color: #9f9990;
    font-size: 1.4rem;
    color: #d0d0cf;
    padding: 2rem 3rem;
    font-family: 'gandhi-BoldItalic';
    position: relative;
    top: 5rem;
    left: 8rem;
  }
  .download .download-icon {
    position: absolute;
    left: 51rem;
  }
  .download .download-icon img {
    width: 60%;
    left: 7rem;
    position: relative;
  }
}
