@import "helpers/_variables"
@import "helpers/_mixins"

body 
	font-family $font-family-regular
	background $bg-color url('../images/bg.png') no-repeat
	background-size cover
	font-size $font-size
	height 100%
	border 0
	margin 0
	padding 0
	smooting()
	border-box()

h1
	font-family $font-family-italic
	color $text-color

.row 
	margin 0

.about, .download
	position relative