$tiny     = 20em
$small    = 30em
$medium   = 45em
$large    = 60em
$x-large  = 80em
$xx-large = 90em 
$largest  = 100em

@media screen and (min-width: $tiny)
  body 
    /*background red*/
    background-size 100% 849%
  .row 
    margin 0
  .brand 
    height 85%
    width 100%
    position absolute
    left 0
    right 0
    top -19px
    bottom 0
    margin-top 0
    z-index 2
    a 
      display block
      width 100%
      height 100%
      img 
        max-width 100%
        width 100%
        height 50%
  h2 
    top 35rem
  .about, .download 
    display inline-block
    vertical-align top
    width 48%
    position relative
    top 50rem
  .download 
    margin 0 auto
    text-align right
    bottom 0
    width 100%
    .download-btn
      background url('../images/deg-download.png') no-repeat
      background-size 100% 100%
      background-position 0 0
      width 110.5%
      height 41px
      line-height 23px
      color $text-download-color 
      font-size 1.4rem
      color lighten($text-download, 10%) 
      padding 1rem 7rem
      font-family $font-family-bolditalic
      position absolute
      top 10rem
      left -2rem 
    .download-icon 
      position absolute
      left: 21rem;
      top 5rem
      img 
        width 60%
        left 7rem
        position relative
  .about 
    color $text-color
    position absolute
    z-index 3
    width 60%
    left 25%
    hr 
      display none
    span, .phone
      font-family $font-family-bold
      font-size 1.5rem
    span 
      display inline-block
    .phone 
      width 70%
    a 
      font-family $font-family-bold
      color $text-color
      font-size 1.5rem
    address 
      width 60%
      font-size 1.2rem
      color $text-color
  

@media screen and (min-width: $small)
  body 
    /*background green*/
    background-size 100% 486%
  .brand 
    height 85%
    width 100%
    position absolute
    left 0
    right 0
    top -19px
    bottom 0
    margin-top 0
    z-index 2
    a 
      display block
      width 100%
      height 100%
      img 
        max-width 100%
        min-height 70%
        width 100%
        height 60%
  h2 
    top 45rem
  .about 
    color $text-color
    left 1rem
    position absolute
    z-index 3
    hr 
      border-top 2px solid $line-color
      width 60%
      margin 0 0 1rem 0
    span, .phone
      font-family $font-family-bold
      font-size 1.5rem
    span 
      display inline-block
    .phone 
      width 70%
    a 
      font-family $font-family-bold
      color $text-color
      font-size 1.5rem
    address 
      width 60%
      font-size 1.2rem
      color $text-color
  .about, .download 
    display inline-block
    vertical-align top
    width 48%
    position relative
    top 60rem
    left 2rem
  .download 
    margin 0 auto
    text-align right
    top 58rem
    left -6rem
    .download-btn
      background url('../images/btn-download.png') no-repeat
      background-size 100% 122%
      background-position 0 -6px
      width 100%
      height 41px
      line-height 56px
      color $text-download-color 
      font-size 1.2rem
      color lighten($text-download, 10%) 
      padding 2rem 1.6rem
      font-family $font-family-bolditalic
      position relative
      top 5rem
      left 8rem 
    .download-icon 
      position absolute
      left: 17rem;
      top 0
      img 
        width 60%
        left 7rem
        position relative
    
@media screen and (min-width: $medium)
  body 
    /*background blue*/
    background-size 100% 600%
  .brand 
    height 85%
    width 100%
    position absolute
    left 0
    right 0
    top -19px
    bottom 0
    margin-top 0
    z-index 2
    a 
      display block
      width 100%
      height 100%
      img 
        max-width 100%
        min-height 100%
        width 100%
        height 100%
  h2 
    top 61rem
  .about 
    color $text-color
    left 1rem
    position absolute
    z-index 3
    hr 
      border-top 2px solid $line-color
      width 60%
      margin 0 0 1rem 0
    span, .phone
      font-family $font-family-bold
      font-size 1.5rem
    span 
      display inline-block
    .phone 
      width 70%
    a 
      font-family $font-family-bold
      color $text-color
      font-size 1.5rem
    address 
      width 40%
      font-size 1.2rem
      color $text-color
  .about, .download 
    display inline-block
    vertical-align top
    width 48%
    position relative
    top 69rem
    left 2rem
  .download 
    margin 0 auto
    text-align right
    top 68rem
    left -6rem
    .download-btn
      background url('../images/btn-download.png') no-repeat
      background-size 100% 122%
      background-position 0 -6px
      width 100%
      height 41px
      line-height 56px
      color $text-download-color 
      font-size 1.4rem
      color lighten($text-download, 10%) 
      padding 2rem 3rem
      font-family $font-family-bolditalic
      position relative
      top 5rem
      left 8rem 
    .download-icon 
      position absolute
      left: 30rem;
      img 
        width 60%
        left 7rem
        position relative
    
@media screen and (min-width: $x-large)
  body 
    /*background cyan */
    background-size 100% 600%
  .brand 
    height 100%
    width 100%
    position absolute
    left 0
    right 0
    top -19px
    bottom 0
    margin-top 0
    z-index 2
    a 
      display block
      width 100%
      height 100%
      img 
        max-width 100%
        min-height 100%
        width 100%
        height 100%
  h2 
    top 61rem
  .about 
    color $text-color
    left -2rem
    position absolute
    z-index 3
    hr 
      border-top 2px solid $line-color
      width 50%
      margin 0 0 1rem 0
    span, .phone
      font-family $font-family-bold
      font-size 1.5rem
    span 
      display inline-block
    .phone 
      width 70%
    a 
      font-family $font-family-bold
      color $text-color
      font-size 1.5rem
    address 
      width 50%
      font-size 1.2rem
      color $text-color
  .about, .download 
    display inline-block
    vertical-align top
    width 48%
    position relative
    top 69rem
    left -2rem
  .download 
    margin 0 auto
    text-align right
    .download-btn
      background url('../images/btn-download.png') no-repeat
      background-size 100% 122%
      background-position 0 -6px
      width 100%
      height 41px
      line-height 56px
      color $text-download-color 
      font-size 1.4rem
      color lighten($text-download, 10%) 
      padding 2rem 3rem
      font-family $font-family-bolditalic
      position relative
      top 5rem
      left 8rem 
    .download-icon 
      position absolute
      left: 51rem;
      img 
        width 60%
        left 7rem
        position relative
    
@media screen and (min-width: $xx-large)
  body 
    /*background yellow */
  .brand 
    height 100%
    width 100%
    position absolute
    left 0
    right 0
    top -19px
    bottom 0
    margin-top 0
    z-index 2
    a 
      display block
      width 100%
      height 100%
      img 
        max-width 100%
        min-height 100%
        width 100%
        height 100%
  h2 
    top 60rem
  .about 
    color $text-color
    left -2rem
    position absolute
    z-index 3
    hr 
      border-top 2px solid $line-color
      width 50%
      margin 0 0 1rem 0
    span, .phone
      font-family $font-family-bold
      font-size 1.5rem
    span 
      display inline-block
    .phone 
      width 70%
    a 
      font-family $font-family-bold
      color $text-color
      font-size 1.5rem
    address 
      width 50%
      font-size 1.2rem
      color $text-color
  .about, .download 
    display inline-block
    vertical-align top
    width 48%
    position relative
    top 69rem
    left -2rem
  .download 
    margin 0 auto
    text-align right
    .download-btn
      background url('../images/btn-download.png') no-repeat
      background-size 100% 122%
      background-position 0 -6px
      width 100%
      height 41px
      line-height 56px
      color $text-download-color 
      font-size 1.4rem
      color lighten($text-download, 10%) 
      padding 2rem 3rem
      font-family $font-family-bolditalic
      position relative
      top 5rem
      left 8rem 
    .download-icon 
      position absolute
      left: 51rem;
      img 
        width 60%
        left 7rem
        position relative
    
@media screen and (min-width: $largest)
  /*body 
    background pink*/
  .brand 
    height 100%
    width 100%
    position absolute
    left 0
    right 0
    top -19px
    bottom 0
    margin-top 0
    z-index 2
    a 
      display block
      width 100%
      height 100%
      img 
        max-width 100%
        min-height 100%
        width 100%
        height 100%
  h2 
    top 60rem
  .about 
    color $text-color
    left -2rem
    position absolute
    z-index 3
    hr 
      border-top 2px solid $line-color
      width 50%
      margin 0 0 1rem 0
    span, .phone
      font-family $font-family-bold
      font-size 1.5rem
    span 
      display inline-block
    .phone 
      width 70%
    a 
      font-family $font-family-bold
      color $text-color
      font-size 1.5rem
    address 
      width 50%
      font-size 1.2rem
      color $text-color
  .about, .download 
    display inline-block
    vertical-align top
    width 48%
    position relative
    top 69rem
    left -2rem
  .download 
    margin 0 auto
    text-align right
    .download-btn
      background url('../images/btn-download.png') no-repeat
      background-size 100% 122%
      background-position 0 -6px
      width 100%
      height 41px
      line-height 56px
      color $text-download-color 
      font-size 1.4rem
      color lighten($text-download, 10%) 
      padding 2rem 3rem
      font-family $font-family-bolditalic
      position relative
      top 5rem
      left 8rem 
    .download-icon 
      position absolute
      left: 51rem;
      img 
        width 60%
        left 7rem
        position relative