$tiny   = 20em
$small  = 30em
$medium = 45em
$large  = 60em
$x-large= 80em


@media screen and (min-width: $tiny)
  body 
  	background-position 50% 44% 
  	background-size 381%
  hr 
  	display none
  h1 
  	position relative
  	top 8em
  	font-size 2.5rem
  .about 
  	width 60%
  	top	28rem
  	margin 0 auto 
  	font-size 1.3rem
  .download
  	width 60%
  	top 11rem
  	font-size 1.2rem
  	margin 0 auto
  	a > img 
  		width 12%  

@media screen and (min-width: $small )
  body 
  	background-position 50% 30% 
  	background-size 350%
  hr 
  	display none
  h1 
  	position relative
  	top 13.5em
  	font-size 3.5rem
  .about 
  	width 80%
  	top	56rem
  	margin 0 auto 
  	font-size 1.7rem
  .download
  	width 80%
  	top 38rem
  	font-size 1.7rem
  	line-height 1
  	margin 0 auto
  	a > img 
  		width 40px  

@media screen and (min-width: $medium)
  body 
  	background-position 50% 45% 
  	background-size 180%
  hr 
  	display none
  h1 
  	top 31rem
  	font-size 4rem
  .about, .download 
  	display inline-block
  	vertical-align middle
  	width 50%
  .about 
  	width 35%
  	height auto
  	margin 1rem auto 1rem auto
  	top 35rem
  	left 0
  	margin-left 7em
  	font-size 1.5rem
  .download 
  	width 40%
  	top 34rem
  	height 110px
  	font-size 1.5rem
  	margin-left 11rem
  	a > img 
  		width 30px
 
@media screen and (min-width: $large)
  body 
  	background-position 50% 35% 
  	background-size 158%
  hr 
  	display none
  h1 
  	top 8em
  .about, .download 
  	display inline-block
  	vertical-align middle 
  	top 22em
  	left 1em
  	font-size 1.2em
  	width 50% !important
  	margin 0
  .about 
  	width 35% !important
  .download 
  	width 316px !important
  	font-size 1.35em
  	top 25em
  	position absolute
  	left 34em
  	.download-icon
  		img 
  			width 9%
  	.download-btn 
  		display block
  		height 55px
  		width 82%
  		background url('../images/btn-download.png') 
  		background-repeat no-repeat
  		margin-top 0rem
  		background-size 100% 114%
  		background-position -3px -2px
  		color lighten($text-download-color, 60%)
  		text-indent 2em
  		line-height 66px
  		font-size 1.5rem 
  		position relative
  		left 5rem
  		top -5rem
 
@media screen and (min-width: $x-large)
  body 
  	background-position 0 -106px
  	background-size 100%
  h1 
  	font-size 3.6rem
  	top	11em
  hr 
  	display block
  	background rgb(113,113,113)
  	width 100%
  	border-top 2px solid 
  	margin 0
  .about 
  	display block
  	width 20% !important
  	top 30em
  	left 2em
  	font-size 1.5rem
  	span 
  		font-family $font-family-bold
  	a, p 
  		color black
  		font-family $font-family-bold
  	address 
  		font-size 0.9em
  		margin-top -.8em
  		font-family $font-family-regular
  .download 
  	left 64%
  	top 54rem
  	top 20rem
    .download-btn 
  		display block
  		height 55px
  		width 82%
  		background url('../images/btn-download.png') 
  		background-repeat no-repeat
  		margin-top 2rem
  		background-size 100% 114%
  		background-position -3px -2px
  		color lighten($text-download-color, 60%)
  		text-indent 2em
  		line-height 66px
  		font-size 1.5rem 
  		position relative
      left 22rem
      top 1rem
  	.download-icon 
  		width 93%
  		display block
  		text-align right 
  		position relative 
  		top -5rem
  		left 0
  		img 
  			width 11%
  	