$font-family-regular = 'gandhi'
$font-family-bold = 'gandhi-bold'
$font-family-italic = 'gandhi-italic'

@font-face
  font-family $font-family-regular
  src url('../fonts/GandhiSans-Regular-webfontt.eot')
  src url('../fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GandhiSans-Regular-webfont.woff2') format('woff2'),
       url('../fonts/GandhiSans-Regular-webfont.woff') format('woff'),
       url('../fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/GandhiSans-Regular-webfont.svg#gandhi') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family $font-family-bold
  src url('../fonts/GandhiSans-Bold-webfontt.eot')
  src url('../fonts/GandhiSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GandhiSans-Bold-webfont.woff2') format('woff2'),
       url('../fonts/GandhiSans-Bold-webfont.woff') format('woff'),
       url('../fonts/GandhiSans-Bold-webfont.ttf') format('truetype'),
       url('../fonts/GandhiSans-Bold-webfont.svg#gandhi') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family $font-family-italic
  src url('../fonts/GandhiSans-Italic-webfontt.eot')
  src url('../fonts/GandhiSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GandhiSans-Italic-webfont.woff2') format('woff2'),
       url('../fonts/GandhiSans-Italic-webfont.woff') format('woff'),
       url('../fonts/GandhiSans-Italic-webfont.ttf') format('truetype'),
       url('../fonts/GandhiSans-Italic-webfont.svg#gandhi') format('svg')
  font-weight normal
  font-style normal